div{
    justify-content: space-around;
    display: flex;
}
.titulo p{
    margin-top: 10px;
    display: flex;
    color: #fff;
    font-size: 50px;
    letter-spacing: 3px;
    font-weight: bold;
}



.conteudo{
    color: #fff;
    margin: auto;
    margin-top: 0px;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.conteudo h1{
    margin: auto;
    display: flex;
    font-size: 40px;
}

.conteudo h2{
    margin-top: 40px;
    font-size: 25px;
    text-align: center;
}

.conteudo h3{
    margin-top: 40px;
    font-size: 25px;
    text-align: center;
}

.conteudo h4{
    margin-top: 20px;
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
}

.conteudo img[src='../static/images/gifs/baby-welcome.gif']{
    width: 300px;
    height: 150px;
    margin: auto;
    margin-bottom: 20px;
}

@media (max-width:934px){
    .conteudo img[src='../static/images/gifs/baby-welcome.gif']{
        width: 200px;
        height: 100px;
    }

}

@media (max-width:660px){
    .conteudo h1{
        margin: auto;
        display: flex;
        font-size: 25px;
    }
    
    .conteudo h2{
        margin-top: 40px;
        font-size: 15px;
        text-align: center;
    }
    
    .conteudo h3{
        margin-top: 40px;
        font-size: 15px;
        text-align: center;
    }
    
    .conteudo h4{
        margin-top: 20px;
        font-size: 15px;
        text-align: center;
        margin-bottom: 20px;
    }
    .conteudo img[src='../static/images/gifs/baby-welcome.gif']{
        width: 200px;
        height: 100px;
    }

}

@media (max-width:496px){
    

}

