{% extends "base.html" %}
    {% block main %}
    <main>
        <div class='Titulo'>
            <a href='/Contatos'><p>CONTATOS</p></a>
        </div>
        <div class='contatos'>
            <h1>E-mails:</h1>
            <a href='https://mail.google.com/mail/u/0/?fs=1&to=lfcosta0804@gmail.com&su=&body=&bcc=&tf=cm' target='_blank'><span class="badge rounded-pill bg-info text-dark">lfcosta0804@gmai.com</span></a><br>
            <a href='https://mail.google.com/mail/u/0/?fs=1&to=lucas.costa105@fatec.sp.gov.br&su=&body=&bcc=&tf=cm' target='_blank'><span class="badge rounded-pill bg-info text-dark">lucas.costa105@fatec.sp.gov.br</span></a>
            <h2>Números:</h2>
            <a href="https://api.whatsapp.com/send/?phone=5512982051717&text&app_absent=0" target='_blank'><p><span class="badge rounded-pill bg-info text-dark">(12)98205-1717</span></a>
            <h2>Redes Sociais:</h2>
            <a href="https://www.instagram.com/_lucasfdc/" target='_blank'><span class="badge rounded-pill bg-info text-dark">Instagram</span></a><br>
            <a href="https://www.linkedin.com/in/lucas-costa-a49a01219/" target="_blank"><span class="badge rounded-pill bg-info text-dark">Linkedin</span></a><br>
            <a href="https://github.com/ddaiwon" target="_blank"><span class="badge rounded-pill bg-info text-dark">Github</span></a>
        </div>
    </main>
    {% endblock %}