<html lang="pt-br>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contatos</title>
    <link rel="stylesheet" href="../static/styles/global.css">
    <link rel="stylesheet" href="../static/styles/contatos.css">
    
</head>
<body>
    <header>
        <nav>
            <ul class='nav-list'>
                <li><a href="inicio.html">Início</a></li>
                <li><a href="Projetos.html">Projetos</a></li>
                <li><a href="Sobre mim.html">Sobre mim</a></li>
                <li><a href="Contatos.html">Contatos</a></li>
            </ul>
            <div class='mobile-menu'>
                <div class='line1'></div>
                <div class='line2'></div>
                <div class='line3'></div>
            </div>
            <a class='logo' href="https://github.com/ddaiwon"target='_blank'>DAIWON</a>
        </nav>
    </header>
    <main>
        <div class='Titulo'>
            <a href='Contatos.html'><p>CONTATOS</p></a>
        </div>
        <div class='conteudo'>
            <h1>E-mails:</h1>
            <p>lfcosta0804@gmail.com</p>
            <p>lucas.costa105@fatec.sp.gov.br</p>
            <h2>Números:</h2>
            <a href="https://api.whatsapp.com/send/?phone=5512982051717&text&app_absent=0" target='_blank'><p>(12)98205-1717</p></a>
            <h2>Redes Sociais:</h2>
            <a href="https://www.instagram.com/_lucasfdc/" target='_blank'>Instagram</a><br>
            <a href="https://www.linkedin.com/in/lucas-costa-a49a01219/" target="_blank">Linkedin</a><br>
            <a href="https://github.com/ddaiwon" target="_blank">Github</a>
        </div>
    </main>
    <script src='../static/scripts/mobile-navbar.js'></script>
</body>
</html>