<html lang="pt-br>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início</title>
    <link rel="stylesheet" href="../static/styles/global.css">
    <link rel="stylesheet" href="../static/styles/inicio.css">
    
</head>
<body>
    <header>
        <nav>
            <ul class='nav-list'>
                <li><a href="inicio.html">Início</a></li>
                <li><a href="Projetos.html">Projetos</a></li>
                <li><a href="Sobre mim.html">Sobre mim</a></li>
                <li><a href="Curriculo.html">Currículo</a></li>
                <li><a href="Contatos.html">Contatos</a></li>
            </ul>
            <div class='mobile-menu'>
                <div class='line1'></div>
                <div class='line2'></div>
                <div class='line3'></div>
            </div>
            <a class='logo' href="https://github.com/ddaiwon"target='_blank'>DAIWON</a>
        </nav>
    </header>
    <main>
        <div class='Titulo'>
            <a href='inicio.html'><p>INÍCIO</p></a>
        </div>
        <div class='conteudo'>
            <h1>BEM-VINDO!</h1>
            <h2>Bem vindo ao meu portfólio, este é meu site pessoal desenvolvido para um trabalho da matéria de 'Design Digital' do curso 'DSM: Desenvolvimento de Software Multiplataforma' na instituição 'FATEC - SJC'.</h2>
            <h3>Neste site irei expor meus projetos, sobre mim, meus currículos e meus contatos. Cada conteúdo vai estar disponivéis em suas respectivas abas.</h3>
            <h4>Muito obrigado pelo seu acesso e boa navegação!</h4>
            <img src='../static/images/gifs/baby-welcome.gif'>
        </div>
    </main>
    <script src='../static/scripts/mobile-navbar.js'></script>
</body>
</html>