<html lang="pt-br>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projetos</title>
    <link rel="stylesheet" href="../static/styles/global.css">
    <link rel="stylesheet" href="../static/styles/projetos.css">
</head>
<body>
    <header>
        <nav>
            <ul class='nav-list'>
                <li><a href="inicio.html">Início</a></li>
                <li><a href="Projetos.html">Projetos</a></li>
                <li><a href="Sobre mim.html">Sobre mim</a></li>
                <li><a href="Curriculo.html">Currículo</a></li>
                <li><a href="Contatos.html">Contatos</a></li>
            </ul>
            <div class='mobile-menu'>
                <div class='line1'></div>
                <div class='line2'></div>
                <div class='line3'></div>
            </div>
            <a class='logo' href="https://github.com/ddaiwon"target='_blank'>DAIWON</a>
        </nav>
    </header>
    <main>
        <div class='Titulo'>
            <a href='Projetos.html'><p>MEUS PROJETOS</p></a>
        </div>
        <div class='Projetos'>
            <h1>PROJETOS FATEC - DESENVOLVIMENTO DE SOFTWARE MULTIPLATAFORMA</h1>
            
            <h2>MONKEY TYPE - API: Um projeto em grupo que tem como objetivo a criação de um site para a instituição fatec para a troca de informações.</h2>
            <a href="https://github.com/Monkey-Type/API-DSM"target='_blank'>ACESSE AQUI!!</a>

            <h2>ALGORITMO E LÓGICA DA PROGRAMAÇÃO: Projetos de treino da matéria.</h2>
            <a href="https://github.com/ddaiwon/Phyon---Fatecsjc"target='_blank'>ACESSE AQUI!!</a>

            <h2>DESIGN DIGITAL: Projetos de treino da matéria.</h2>
            <a href="https://github.com/ddaiwon/Design-Digital---Fatecsjc"target='_blank'>ACESSE AQUI!!</a><br><hr>
            <h1>MEUS PROJETOS PESSOAIS</h1>

            <h2>CURSO UDEMY: Repositório para upload de arquivos aprendidos no curso</h2>
            <a href="https://github.com/ddaiwon/cursoudemyjavascript"target='_blank'>ACESSE AQUI!!</a><br><hr>
        </div>
        <div class='github'>
            <h1>MEU PERFIL GITHUB  <a href="https://github.com/ddaiwon"target='_blank'>ACESSE AQUI!!</a></h1>
            <img src="https://github-readme-stats.vercel.app/api?username=ddaiwon&show_icons=true&theme=radical" alt="">
            
        </div>
    </main>
    <script src='../static/scripts/mobile-navbar.js'></script>
</body>
</html>