<html lang="pt-br>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projetos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/styles/global.css">
    <link rel="stylesheet" href="../static/styles/projetos.css">
</head>
<body>
    <header>
        <nav>
            <ul class='nav-list'>
                <li><a href="/">Início</a></li>
                <li><a href="/Projetos">Projetos</a></li>
                <li><a href="/Sobremim">Sobre mim</a></li>
                <li><a href="/Contatos">Contatos</a></li>
            </ul>
            <div class='mobile-menu'>
                <div class='line1'></div>
                <div class='line2'></div>
                <div class='line3'></div>
            </div>
            <a class='logo' href="https://github.com/ddaiwon"target='_blank'>DAIWON</a>
        </nav>
    </header>
    <main>
        <div class='Titulo'>
            <a href='/Projetos'><p>MEUS PROJETOS</p></a>
        </div>
        <div class='Projetos'>
            <h1>PROJETOS FATEC - DESENVOLVIMENTO DE SOFTWARE MULTIPLATAFORMA</h1>

            <h2>PORTFÓLIO DESIGN DIGITAL - Meu repositório deste projeto no github!!</h2>
            <a href="https://github.com/ddaiwon/FATEC-Design-Digital---Portf-lio"target='_blank'><span class="badge rounded-pill bg-info text-dark">ACESSE AQUI</span></a>
            
            <h2>MONKEY TYPE - API: Um projeto em grupo que tem como objetivo a criação de um site para a instituição fatec para a troca de informações.</h2>
            <a href="https://github.com/Monkey-Type/API-DSM"target='_blank'><span class="badge rounded-pill bg-info text-dark">ACESSE AQUI</span></a>

            <h2>ALGORITMO E LÓGICA DA PROGRAMAÇÃO: Projetos de treino da matéria.</h2>
            <a href="https://github.com/ddaiwon/Phyon---Fatecsjc"target='_blank'><span class="badge rounded-pill bg-info text-dark">ACESSE AQUI</span></a>

            <h2>DESIGN DIGITAL: Projetos de treino da matéria.</h2>
            <a href="https://github.com/ddaiwon/Design-Digital---Fatecsjc"target='_blank'><span class="badge rounded-pill bg-info text-dark">ACESSE AQUI</span></a><br><hr>
            <h1>MEUS PROJETOS PESSOAIS</h1>

            <h2>CURSO UDEMY: Repositório para upload de arquivos aprendidos no curso</h2>
            <a href="https://github.com/ddaiwon/cursoudemyjavascript"target='_blank'><span class="badge rounded-pill bg-info text-dark">ACESSE AQUI</span></a><br><hr>
        </div>
        <div class='github'>
            <h1>MEU PERFIL GITHUB  <a href="https://github.com/ddaiwon"target='_blank'><span class="badge rounded-pill bg-info text-dark">ACESSE AQUI</span></a></h1>
            <img src="https://github-readme-stats.vercel.app/api?username=ddaiwon&show_icons=true&theme=radical" alt=""><br><hr>
        </div>
        <div class='github'>
            <h1>MEU CURRICULO  <a href="https://docs.google.com/document/d/12nNdrtgXQoW7p9cU4lzQhphDUl6w6D0h/edit"target='_blank'><span class="badge rounded-pill bg-info text-dark">ACESSE AQUI</span></a></h1>
        </div>
    </main>
    <script src='../static/scripts/mobile-navbar.js'></script>
</body>
</html>