{% extends "base.html" %}
    {% block main %}
    <main>
        <div class='Titulo'>
            <a href='/Projetos'><p>MEUS PROJETOS</p></a>
        </div>
        <div class='Projetos'>
            <h1>PROJETOS FATEC - DESENVOLVIMENTO DE SOFTWARE MULTIPLATAFORMA</h1>

            <h2>PORTFÓLIO DESIGN DIGITAL - Meu repositório deste projeto no github!!</h2>
            <a href="https://github.com/ddaiwon/FATEC-Design-Digital---Portf-lio"target='_blank'><span class="badge rounded-pill bg-info text-dark">ACESSE AQUI</span></a>
            
            <h2>MONKEY TYPE - API: Um projeto em grupo que tem como objetivo a criação de um site para a instituição fatec para a troca de informações.</h2>
            <a href="https://github.com/Monkey-Type/API-DSM"target='_blank'><span class="badge rounded-pill bg-info text-dark">ACESSE AQUI</span></a>

            <h2>ALGORITMO E LÓGICA DA PROGRAMAÇÃO: Projetos de treino da matéria.</h2>
            <a href="https://github.com/ddaiwon/Phyon---Fatecsjc"target='_blank'><span class="badge rounded-pill bg-info text-dark">ACESSE AQUI</span></a>

            <h2>DESIGN DIGITAL: Projetos de treino da matéria.</h2>
            <a href="https://github.com/ddaiwon/Design-Digital---Fatecsjc"target='_blank'><span class="badge rounded-pill bg-info text-dark">ACESSE AQUI</span></a><br><hr>
            <h1>MEUS PROJETOS PESSOAIS</h1>

            <h2>CURSO UDEMY: Repositório para upload de arquivos aprendidos no curso</h2>
            <a href="https://github.com/ddaiwon/cursoudemyjavascript"target='_blank'><span class="badge rounded-pill bg-info text-dark">ACESSE AQUI</span></a><br><hr>
        </div>
        <div class='github'>
            <h1>MEU PERFIL GITHUB  <a href="https://github.com/ddaiwon"target='_blank'><span class="badge rounded-pill bg-info text-dark">ACESSE AQUI</span></a></h1>
            <img src="https://github-readme-stats.vercel.app/api?username=ddaiwon&show_icons=true&theme=radical" alt=""><br><hr>
        </div>
        <div class='github'>
            <h1>MEU CURRICULO  <a href="https://docs.google.com/document/d/12nNdrtgXQoW7p9cU4lzQhphDUl6w6D0h/edit"target='_blank'><span class="badge rounded-pill bg-info text-dark">ACESSE AQUI</span></a></h1>
        </div>
    </main>
    {% endblock %}