<html lang="pt-br>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre mim</title>
    <link rel="stylesheet" href="../static/styles/global.css">
    
</head>
<body>
    <header>
        <nav>
            <ul class='nav-list'>
                <li><a href="inicio.html">Início</a></li>
                <li><a href="Projetos.html">Projetos</a></li>
                <li><a href="Sobre mim.html">Sobre mim</a></li>
                <li><a href="Curriculo.html">Currículo</a></li>
                <li><a href="Contatos.html">Contatos</a></li>
            </ul>
            <div class='mobile-menu'>
                <div class='line1'></div>
                <div class='line2'></div>
                <div class='line3'></div>
            </div>
            <a class='logo' href="https://github.com/ddaiwon"target='_blank'>DAIWON</a>
        </nav>
    </header>
    <main></main>
    <script src='../static/scripts/mobile-navbar.js'></script>
</body>
</html>