<html lang="pt-br>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre mim</title>
    <link rel="stylesheet" href="../static/styles/global.css">
    <link rel="stylesheet" href="../static/styles/sobremim.css">
    <link rel="stylesheet" href="../static/styles/sobremimtexto.css">
    
</head>
<body>
    <header>
        <nav>
            <ul class='nav-list'>
                <li><a href="inicio.html">Início</a></li>
                <li><a href="Projetos.html">Projetos</a></li>
                <li><a href="Sobre mim.html">Sobre mim</a></li>
                <li><a href="Contatos.html">Contatos</a></li>
            </ul>
            <div class='mobile-menu'>
                <div class='line1'></div>
                <div class='line2'></div>
                <div class='line3'></div>
            </div>
            <a class='logo' href="https://github.com/ddaiwon"target='_blank'>DAIWON</a>
        </nav>
    </header>
    <main>
        <div class='Titulo'>
            <a href='Sobre mim.html'><p>SOBRE MIM</p></a>
        </div>
        <div class='conteudo'>
            <div class='texto-foto'>
                <h1>Sou o Lucas, nascido em Jacareí na data 08/04/2003. Me considero uma boa pessoa, amigavel e sociavel
                    embora as vezes tenha vergonha, meu prazer é a área da tecnologia, desde pequeno tenho contato com computadores
                    e eletrônicos e com incentivo e apoio de meus pais, fiz diversos cursos e hoje estou trabalhando com tecnologia
                    e cursando o ensino superior de DSM.</h1>
                <img src="../static/images/fotos/eu.jpg" alt="">
            </div>
            <div class='texto'> 
                <h1> MEUS HOBBIES:</h1>
                    <div class='hobbies'>
                        <p>JOGOS</p>
                        <p>SÉRIES</p>
                        <p>ANIMES</p>
                    </div>
                    <div class='hobbies-jogos'>
                        <h2>JOGOS</h2>
                        <p>Desde pequeno tenho paixão por jogos, e jogo bastante em meu tempo livre, meus jogos favoritos são generos variados, mas foram ótimos jogos que marcaram minha infância e ainda marca
                        minha vida por que sempre são ótimos para um escape da realidade. </p>
                        <div class='jogos'>
                            <p>GTA-SA <br><img src="../static/images/jogos/GTA.png"></p>
                            <p>BULLY <br><img src="../static/images/jogos/BULLY.jpg"></p>
                            <p>NEED FOR SPEED MOST WANTED <br><img src="../static/images/jogos/NEED FOR SPEED.jpg"></p>
                        </div>
                        <div class='jogos1'>
                            <p>MINECRAFT <br><img src="../static/images/jogos/MINECRAFT.jpg"></p>
                            <p>SKYRIM <br><img src="../static/images/jogos/SKYRIM.jpg"></p>
                            <p>FRANQUIA COD <br><img src="../static/images/jogos/COD.jpg"></p>
                        </div>
                    </div>
                    <div class='hobbies-series'>
                        <h1>SÉRIES</h1>
                        <p>Meu contato com séries foi na adolescência e assisti ótimas séries, gosto do genêro comédia, me divirto bastante assistindo, já assisti várias e uma das minhas favoritas é Breaking Bad gostei demais do conteúdo que ela entrega e o final no meu ponto de vista foi ótimo</p>
                        <div class='series'>
                            <p>BROOKLYN 99 <br><img src="../static/images/series/B99.jpg" ></p>
                            <p>BREAKING BAD<br><img src="../static/images/series/BB.jpg" ></p>
                            <p>HIMYM <br><img src="../static/images/series/HIMYM.jpeg" ></p>
                        </div>
                        <div class='series1'>
                            <p>THAT'70S SHOW <br><img src="../static/images/series/THAT70S.jpg" ></p>
                        </div>
                    </div>
                    <div class='hobbies-animes'>
                        <h1>ANIMES</h1>
                        <p>Meu contato com anime foi desde criança, meu primeiro anime a assistir foi Naruto e desde então acompanhei ate seu final, atualmente o meu anime favorito é Shingeki no Kyojin.</p>
                        <div class='animes'>
                            <p>NARUTO <br><img src="../static/images/animes/naruto.jpg" ></p>
                            <p>DEATH NOTE<br><img src="../static/images/animes/deathnote.jpg" ></p>
                            <p>DEMON SLAYER <br><img src="../static/images/animes/demonslayer.png" ></p>
                        </div>
                        <div class='animes1'>
                            <p>SHINGEKI NO KYOJIN <br><img src="../static/images/animes/shingeki.png" ></p>
                            <p>ONE PIECE <br><img src="../static/images/animes/onepiece.jpeg" ></p>
                        </div>
                    </div>
            </div>
        </div>
    </main>
    <script src='../static/scripts/mobile-navbar.js'></script>
</body>
</html>


<!-- GITHUB STATS <img src="https://github-readme-stats.vercel.app/api?username=ddaiwon&show_icons=true&theme=radical" alt="" -->