*{
font-family: 'Roboto', sans-serif;
margin: 0;
padding: 0;
}
header{
position: absolute;
top: 0px;
width: 100%;
height: 50px;
background-color: rgba(0, 0, 0, 0.452);
display: inline-flex;
color: white;
}
.div{
margin-top: 20px;
width: 500px;
display: inline-flex;
justify-content: space-around;
}
.div a{
color: white;
text-decoration: none;
}
.div p:hover{
font-size: 20px;
font-weight: bold;
}
header h1{
text-align: right;
margin: auto;
}
footer{
    position: absolute;
    bottom: 0;
    background:rgba(0, 0, 255, 0.753);
    width: 100%;
    height: 20px;
    align-items: center;
    display: inline-flex;
    justify-content: space-around;
    font-size: 9px;
    }
    body{
        background-color: cornflowerblue;
    }