main{
margin: auto;
margin-top: 70px;
height: 1200px;
width: 95%;
display: flex;
align-items: center;
background-color: rgba(0, 0, 0, 0.39);
border-radius: 20px;
}
.images{
margin: auto;
margin-top: 30px;
margin-right: 30px;
display: flex;
}
.images img[src="../static/style/imagens/minha foto.jpg"]{
height: 300px;
width: 300px;
border-radius: 150px;
    
}
.sobremim{
margin: auto;
margin-top: 14px;
color: white;
}
.sobremim h1{
font-size: 50px;
text-align: center;
}
.sobremim p{
font-size: 25px;
display: flex;
text-align: flex;
text-indent: 15px;
margin-top: 15px;
}
.sobremim h2{
font-size: 50px;
margin-top: 60px;
text-align: center;
}

.sobremim h3{
    font-size: 40px;
    margin-top: 30px;
    text-indent: 15px;
}
.sobremim p{
font-size: 25px;
text-align: left;
text-indent: 15px;
margin-left: 15px;
}