<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contatos</title>
    <link rel="stylesheet" href="../static/style/global.css">
    <link rel="stylesheet" href="../static/style/contatos.css">
</head>
<body>
    <header>
        <div class='div'>
            <a href="início.html"><p>Início</p></a>
            <a href="projetos.html"><p>Projetos</p></a>
            <a href="sobre mim.html"><p>Sobre mim</p></a>
            <a href="curriculo.html"><p>Currículo</p></a>
            <a href="contatos.html"><p>Contatos</p></a>
        </div>
        <h1>CONTATOS</h1>
    </header>
    <main>
        <div class='contatos'>
            <h1>MEUS CONTATOS</h1>
            <h2>E-mails:</h2>
            <p>lfcosta0804@gmail.com</p>
            <p>lucas.costa105@fatec.sp.gov.br</p>
            <h2>Números:</h2>
            <p>(12)98205-1717   </p>
            <h2>Redes Sociais:</h2>
            <a href="https://www.instagram.com/_lucasfdc/" target='_blank'>Instagram</a><br>
            <a href="https://www.linkedin.com/in/lucas-costa-a49a01219/" target="_blank">Linkedin</a><br>
            <a href="https://github.com/ddaiwon" target="_blank">Github</a>
            
        </div>
    </main>
</body>
</html>