<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projetos</title>
    <link rel="stylesheet" href="../static/style/global.css">
    <link rel="stylesheet" href="../static/style/projeto.css">
</head>
<body>
    <header>
        <div class='div'>
            <a href="início.html"><p>Início</p></a>
            <a href="projetos.html"><p>Projetos</p></a>
            <a href="sobre mim.html"><p>Sobre mim</p></a>
            <a href="curriculo.html"><p>Currículo</p></a>
            <a href="contatos.html"><p>Contatos</p></a>
        </div>
        <h1>PROJETOS</h1>
    </header>
    <main>
        <div class='projetos'>
            <h1>MEUS PROJETOS</h1>
            <h2>Em breve um resumo dos meus projetos e seus respectivos links de acesso!!</h2>
        </div>
    </main>
</body>
</html>