main{
margin: auto;
margin-top: 70px;
height: 900px;
width: 95%;
display: flex;
align-items: center;
background-color: rgba(0, 0, 0, 0.39);
border-radius: 20px;
}
.contatos{
margin: auto;
margin-top: 14px;
color: white;
height: 900px;
width: 95%; 
}
.contatos h1{
font-size: 50px;
text-align: center;
}
.contatos h2{
font-size: 40px;
margin-top: 50px; 
margin-left: 15px;
}
.contatos p{
color: white;
font-size: 30px;
margin-left: 40px
}
.contatos a{
    color: white;
    font-size: 30px;
    margin-left: 40px
}